@if (message; as msg) {
  <div>
    <p-message
      [severity]="msg.severity"
      [text]="msg.text"
      [closable]="true"
      [life]="msg.life"
      (onClose)="clearMessage.emit()"
    />
  </div>
}

<p-toolbar>
  <ng-template pTemplate="start">
    @if (selectedUsers.length > 0) {
      <p-button
        [label]="'Przypisz role (' + selectedUsers.length + ')'"
        icon="pi pi-users"
        (onClick)="openEditSelected.emit()"
      />
    }
  </ng-template>

  <ng-template pTemplate="end">
    <div style="display: flex; gap: 0.9rem; align-items: center">
      <p-button
        label="Wycofaj zmiany"
        icon="pi pi-undo"
        severity="secondary"
        [outlined]="false"
        [disabled]="!hasChanges"
        (onClick)="discardChanges.emit()"
      />
      <p-button
        label="Zapisz zmiany"
        icon="pi pi-save"
        [disabled]="!hasChanges"
        [loading]="saving"
        (onClick)="saveChanges.emit()"
      />
    </div>
  </ng-template>
</p-toolbar>

<app-users-table
  [users]="users"
  [managedRoles]="managedRoles"
  [loading]="loading"
  [selectedUsers]="selectedUsers"
  [isUserChanged]="isUserChanged"
  [getUserRoleDiff]="getUserRoleDiff"
  [roleLabel]="roleLabel"
  [roleSeverity]="roleSeverity"
  (selectedUsersChange)="selectedUsersChange.emit($event)"
  (editUser)="editUser.emit($event)"
/>
