@if (message; as msg) {
  <div class="page-message">
    <p-message
      [severity]="msg.severity"
      [text]="msg.text"
      [closable]="true"
      [life]="msg.life"
      (onClose)="clearMessage.emit()"
    />
  </div>
}

<div class="table-card">
  <p-toolbar>
    <ng-template pTemplate="start">
      <div class="toolbar-start">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            placeholder="Szukaj uzytkownika..."
            (input)="onGlobalFilter($event)"
          />
        </p-iconfield>

        @if (selectedUsers.length > 0) {
          <p-button
            [label]="'Przypisz role (' + selectedUsers.length + ')'"
            icon="pi pi-users"
            severity="info"
            (onClick)="openEditSelected.emit()"
          />
        }
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="toolbar-actions">
        <p-button
          label="Wycofaj zmiany"
          icon="pi pi-undo"
          severity="secondary"
          styleClass="users-discard-btn"
          [disabled]="!hasChanges"
          (onClick)="discardChanges.emit()"
        />
        <p-button
          label="Zapisz zmiany"
          icon="pi pi-save"
          severity="info"
          styleClass="users-save-btn"
          [disabled]="!hasChanges"
          [loading]="saving"
          (onClick)="saveChanges.emit()"
        />
      </div>
    </ng-template>
  </p-toolbar>

  <app-users-table
    [users]="users"
    [loading]="loading"
    [selectedUsers]="selectedUsers"
    [isUserChanged]="isUserChanged"
    [getUserRoleDiff]="getUserRoleDiff"
    [roleLabel]="roleLabel"
    [roleSeverity]="roleSeverity"
    (selectedUsersChange)="selectedUsersChange.emit($event)"
    (editUser)="editUser.emit($event)"
  />
</div>
