<div class="users-page">
  <div class="page-header">
    <h1 class="page-title"><i class="pi pi-users"></i> Zarzadzanie uzytkownikami</h1>
  </div>

  <app-users-table-host
    [message]="saveMessage()"
    [users]="filteredUsers()"
    [loading]="loading()"
    [saving]="saving()"
    [hasChanges]="hasChanges()"
    [selectedUsers]="selectedUsersTable"
    [isUserChanged]="isUserChangedFn"
    [getUserRoleDiff]="getUserRoleDiffFn"
    [roleLabel]="roleLabelFn"
    [roleSeverity]="roleSeverityFn"
    (searchChange)="onGlobalFilterChange($event)"
    (openEditSelected)="openEditDialogForSelected()"
    (discardChanges)="discardAllChanges()"
    (saveChanges)="saveAllChanges()"
    (selectedUsersChange)="selectedUsersTable = $event"
    (editUser)="openEditDialogForUser($event)"
    (clearMessage)="clearSaveMessage()"
  />
</div>
